
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);

}
* {
   margin: 0;
    padding: 0; 
}
html {
    background: url(./images/pattern-background-desktop.svg);
    background-color: var(--pale-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Red Hat Display', sans-serif;
}
p {
    color: var(--desaturated-blue);

}
.whole-tile {
    background-color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    border-radius: 20px;
}
.tile-hero-image {
    background: url(./images/illustration-hero.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.tile-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2rem;
}
.tile-element {
    margin-bottom: 1rem;
}
.img-and-description {
    display: flex;
}
.tile-plan {
    background-color: var(--very-pale-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 8px;
}
.plan-description {
   display: block;
   margin-left: 1rem;
}
.plan-description h4 {
    margin-bottom: 4px;
}
.change-button {
    color: var(--bright-blue);
    font-family: inherit;
    font-size: 14px;
}
.change-button:hover {
    opacity: 0.6;
    text-decoration: none;
}
.button {
    font-family: inherit;
    background-color: var(--bright-blue);
    color: white;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
}
.button:hover {
    opacity: 0.6;
}
.cancel {
    text-decoration: none;
    color: var(--desaturated-blue);
    width: fit-content;
    margin: auto;
    font-size: 14px;
}
.cancel:hover {
    color: var(--dark-blue);
    font-weight: bold;
}
@media (max-width: 376px) {
    html {
        background: url(./images/pattern-background-mobile.svg);
        background-color: var(--pale-blue);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .whole-tile {
        width: 90vw;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
